################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/

/bin/Debug/net6.0-windows/completedPaths.txt
/bin/Debug/net6.0-windows/log.txt
/bin/Debug/net6.0-windows/log_rules.txt
/bin/Debug/net6.0-windows/log_performance.txt
/bin/Debug/net6.0-windows/newRule.svg
/bin/Debug/net6.0-windows/PathRules.cs
/bin/Debug/net6.0-windows/completed/*.*
/bin/Debug/net6.0-windows/incomplete/*.*
/bin/Debug/net6.0-windows/checknearfield
